* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #637283;
}

body {
  font-family: sans-serif;
}

#progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: #137bea;
  z-index: 1000;
}

#progress-bar {
  width: 0%;
  height: 100%;
  background: #1cc622;
  transition: width 0.1s linear;
}

#content {
  padding: 40px;
  line-height: 1.8;
}